.list-group {
  padding: 0px;
  width: 100%;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.list-group-item {
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge {
  color: #fff;
  background-color: #007bff;
  border-radius: 10rem;
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}