html, body {
  margin: 0px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  color: #212529;
}

.form-group {
  margin-bottom: 1rem;
  display: block;
}

.form-group label {
  display: inline-block;
  margin-bottom: .5rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: .25rem;
  padding: .375rem .75rem;
  cursor: pointer !important;
}

.fixed-header, .fixed-footer{
  width: 100%;
  position: fixed;
  background: #333;
  padding: 10px 0;
  color: #fff;
}
.fixed-header{
  top: 0;
}
.fixed-footer{
  bottom: 0;
}
nav a{
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
  float: right;
}
nav a:hover {
  color: #4caf50;
  text-decoration: none;
}
.container{
  width: 80%;
  margin: 0 auto;
  /* margin-top: 60px; */
  padding: 60px;
  padding-bottom: 0px;
}

.column1 {
  float: left;
  width: 65%;
  padding: 10px;
}
.column2 {
  float: left;
  width: 30%;
  padding: 10px;
}
.row {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
    box-sizing: border-box;
  }
  .column2 {
    width: 100%;
    box-sizing: border-box;
  }
  .container {
    width: 100%;
    padding: 60px 10px;
  }
  nav a.home {
    display: inline-block;
  }
  nav a {
    display: none;
  }
  .team-title,
  .vs {
    width: 100%;
  }
}

.card {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body {
  padding: 1.25rem;
}

.faded {
  animation: faded 1s linear 3s 1 forwards;
}

@keyframes faded {
  from {opacity: 1;}
  to {opacity: 0;}
}
