.title {
  font-size: 30px;
  font-weight: bold;
  display: block;
}

.sub-title {
  font-style: italic;
}

input[type=text], input[type=datetime-local] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
