.form-create-match-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-create-match-wrapper .title {
  font-size: 30px;
  font-weight: bold;
}

.form-create-match-wrapper .sub-title {
  font-style: italic;
}

form {
  width: 500px;
}

input[type=text], input[type=datetime-local] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
}