.info-form {
    width: 100%;
    text-align: left;
    padding: 20px; 
    border: 1px solid #bbbbbb; 
    border-radius: 5px;
}
ul.info-match {
    list-style-type: circle;
  }

.team-title {
    width: 40%;
    float: left;
}

.team-left ,
.team-right {
    width: 100%;
    text-align: center;
    padding: 10px; 
    border: 1px solid #bbbbbb; 
    border-radius: 5px;
    box-sizing: border-box;
    float: left;
    font-weight: bold;
    color: #ffffff;
}
.vs {
    width: 20%;
    text-align: center;
    float: left;
    padding: 10px; 
    box-sizing: border-box;
}

ul.info-match {
    color: #000;
    text-align: left;
    font-weight: 600;
}

.btn {
    font-size: 15px;
    color: white;
    background: #b1bdbd;
    border: none;
    border-radius: 5px;
}
.btn:hover {
    background: #5F9EA0;
}

.btn-confirm {
    font-size: 15px;
    color: white;
    background: red;
    border: none;
    border-radius: 5px;
    float: right;
    padding: 10px;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.match-detail .column1 {
    float: left;
    width: 65%;
    padding: 10px 30px 0 0px;
    box-sizing: border-box;
}

hr {
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color:#666;
    border: 0 none;
    }

  